#btn {
    -fx-text-fill: green;
    -fx-background-image: url("../img/knop.jpg");
    -fx-background-size: 40 40;
    -fx-width:100px;
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

#btn: hover {
    -fx-text-fill: red;
}
.html-editor .top-toolbar
{
    -fx-max-width: 0px;
    -fx-min-width: 0px;
    -fx-pref-width: 0px;
    -fx-max-height: 0px;
    -fx-min-height: 0px;
    -fx-pref-height: 0px;
    -fx-opacity: 0;
}
.html-editor .bottom-toolbar
{
    -fx-max-width: 0px;
    -fx-min-width: 0px;
    -fx-pref-width: 0px;
    -fx-max-height: 0px;
    -fx-min-height: 0px;
    -fx-pref-height: 0px;
    -fx-opacity: 0;
}
.nn {
    -fx-font-size:20pt;
    -fx-fill:red;
}